PORT=8000
DATABASE_URL=postgresql://postgres:%40arf123bdh%40@db.lbnqhsbhqctldjslfifw.supabase.co:5432/postgres
GEMINI_API_KEY=your-gemini-key
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent
JWT_SECRET=super-secret-jwt-key-odhikar-2026